.container{
    display: flex;
    width: 100%;
}
.container_content{
    display: flex;
    width: 100%;
}
.container_content_left{
    width: 15%;
    border-right: 1px solid var(--color);
    min-height: 100vh;
    height: 100%;
}
.container_content_right{
    width: 85%;
}